system_ext/apex/com.android.vndk.v30.apex
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MotCamera3/MotCamera3.apk
product/priv-app/Velvet/Velvet.apk
